{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <a class="navbar-brand" href="{{ url_for('Question6') }}">Question 7</a>
                        
        </div>
    </div>
</nav>

{% endblock %}

{% block app_content %}



<!--<form action="/barChart1" method="POST">-->
<!--                <h3>Bar chart</h3>-->
<!--        Enter country name:-->
<!--        <input type="text" name="cnt_name">-->
<!--        <button type="submit" name="submit">Find</button>-->

<!--</form>-->

<!--<form action="/scatterChart2">-->
<!--<h3>Question 7</h3>-->
<!--        Enter min year:-->
<!--        <input type="text" name="min">-->
<!--        Enter max year:-->
<!--        <input type="text" name="max">-->
<!--        Enter State name:-->
<!--        <input type="text" name="state">-->
<!--        <button type="submit" name="submit">Find</button>-->

<!--</form>-->

<!--<form action="/scatterChart3">-->
<!--<h3>Question 7</h3>-->
<!--        Enter min year:-->
<!--        <input type="text" name="year1">-->
<!--        Enter max year:-->
<!--        <input type="text" name="year2">-->
<!--        Enter State name:-->
<!--        <input type="text" name="state">-->
<!--        <button type="submit" name="submit">Find</button>-->

<!--</form>-->
<!-- <form action="/pieChart" method="POST">
                <h3>Question 6</h3>
        Enter population range(min):
        <input type="text" name="min1">
        Enter population max:
        <input type="text" name="max1">
        Enter year:
        <input type="text" name="year">
        <button type="submit" name="submit">Find</button>

</form> -->
<!--<form action="/scatterChart" method="POST">-->
<!--                <h3>Scatter chart</h3>-->
<!--        Enter min year:-->
<!--        <input type="text" name="min_y">-->
<!--        Enter max year:-->
<!--        <input type="text" name="max_y">-->
<!--        Enter state:-->
<!--        <input type="text" name="state">-->
<!--        <button type="submit" name="submit">Find</button>-->

<!--</form>-->

<!-- <form action="/scatterChart1" method="POST">
                <h3>Scatter chart</h3>
        Enter min year:
        <input type="text" name="min_l">
        Enter max year:
        <input type="text" name="max_l">
        Enter state:
        <input type="text" name="state">
        <button type="submit" name="submit">Find</button>

</form> -->

<!--<form action="/lineChart" method="POST">-->
<!--                <h3>Line chart</h3>-->
<!--        Enter min mag:-->
<!--        <input type="text" name="mag1">-->
<!--        Enter max mag:-->
<!--        <input type="text" name="mag2">-->
<!--        Enter div:-->
<!--        <input type="text" name="div1">-->

<!--        <button type="submit" name="submit">Find</button>-->

<!--</form>-->



{% endblock %}