{% extends "index.html" %}

{% block app_content %}

{% if col %}
<table class="table">
    <tr>
    <td>
        ID
    </td>    
    <td>latitude
    </td>
    <td>longitude
    </td>
    <td>Depth
    </td>
    <td>place
    </td> 
    <td>time
    </td>
    <td>mag
    </td>
   
</tr>

{% for a in col %}
<tr>
    <td>{{  a[0] }}
    </td>
    <td> {{  a[1] }}
    </td>
    <td> {{  a[2] }}
    </td>
    <td> {{  a[3] }}
    </td>
    <td> {{ a[4] }}</td>
    <td> {{ a[5] }}</td>
    <td> {{ a[6] }}</td>
</tr>
    {% endfor %}
</table>
{% endif %}

<div>
    <form action="/q8a" method="post">
        <h3>
        Update functionality
        </h3>
        Enter Id for which you want to change data:
        <input type="text" name="id">
        <br>
        Enter Longitude:
        <input type="text" name="longitude">
        <br>
        Enter Latitude:
        <input type="text" name="latitude">
        Enter place:
        <input type="text" name="place">
        Enter time:
        <input type="text" name="time">
        <br>
        <!-- Enter the range of the radius:
        <input type="number" name="radius"> -->
        <button type="submit" name="submit">Update</button>
        <br>
        <br>
    </form>
    {% if col1 %}
        <h3>Values updated...</h3>
    {% endif %}
    {% if entry %}
        <h3>Entry not found..</h3>
    {% endif %}

</div>


{% endblock %}