{% extends "base.html" %}

{% block app_content %}

<div>
    count = {{ out }}
</div>
{% if out1 %}

<table class="table">
    <tr>
    <td>Latitude
    </td>
    <td>

    </td>
    <td>longitude
    </td>
     <td>

     </td>
    <td>magnitude
    </td>
</tr>

{% for o in out1 %}

<tr>
    <td>{{  o[0] }}
    </td>
    <td>

    </td>
    <td> {{  o[1] }}
    </td>
    <td>

    </td>
    <td> {{  o[2] }}
    </td>
</tr>


{% endfor %}
</table>
{% endif %}

{% endblock %}