{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<html>
<body>
{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/style.css">
{% endblock %}

{#{% block title %}
  {% if title %}{{ title }} - {{ appname }}{% else %}{{ appname }}{% endif %}
{% endblock %}#}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                <a class="navbar-brand" href="{{ url_for('Question6') }}">Question 6</a>
                <a class="navbar-brand" href="{{ url_for('Question7') }}">Question 7</a>
                <a class="navbar-brand" href="{{ url_for('Question8') }}">Question 8</a>
                <a class="navbar-brand" href="{{ url_for('Question9') }}">Question 9</a>
                
            </div>
        </div>
    </nav>

{% endblock %}




{% block content %}
    <div id="title_bar" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 id="student_id">1001709115</h2>
          <h2 id="student_name">Mehta, Ashutosh</h2>
          <img src='../static/v.jpg' width="200px" height="200px" />
          <h2 id="counter"></h2>
      </div>
    </div>

    <!-- <script> -->
              <!-- // var i = 0;
              // console.log("---------------------------------------hello-------------------------");
              // const interval = setInterval(getSeconds, 1000);
              // function getSeconds() {
              //     document.getElementById("counter").textContent = "count : " + i;
              //     i++;

              // }
              // function resetCount() {
              //   i = 0;
              //   } -->
          <!-- </script> -->


    
    <!-- <div>
      <form action="/select" method="post">
        <input  type="number" name="num1" >       
        <button type="submit" class="btn btn-default" name="Submit">Submit</button>
      </form>
    </div>
    
    {% if col %}
    <table class='table'>
      {% for c in col %}
        <tr>
          <td>{{ c[0] }}</td>
          <td>{{ c[1] }}</td>  
        </tr>
      {% endfor %}
    </table>
    {% endif %} -->
    

    
    
{% endblock %}
</body>
</html>